{% extends 'recipes/base.html' %}

{% block body %}

{%for recipe in object_list %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> <h3>{{recipe.name}}</h3></div>
                <div class="card-body">
                    <div class="col-md-5" style="padding-left: 0"> <img src="{{ recipe.image.url }}" class="card-img-top"> </div>
                    <br> </br>
                    <p class="card-text">{{ recipe.description }}</p> 
                    <p class="card-text">
                        <h6 class="text-muted"> {{ recipe.date_created|date:"F/d/Y" }} , by {{ recipe.user }} </h6>
                    </p>
                    <a href="{% url 'recipes:detail' recipe.id %}" class="stretched-link">More...</a>
                </div>
            </div>
        </div>
        {% if forloop.first %}
            <div class="pull-right" style="position: absolute; right:100px;">
                <div class="card" style="max-width: 18rem; border-radius: 25px; ">
                    <div class="card-body">
                        <h4 class="text-center"> Top Used Ingredients</h4><br>
                        <ul>
                            {% for ingredient in top_ingredients %}
                            <li>
                                {{ ingredient.name }} ({{ ingredient.recipes_count }})
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>    

<br></br>
{% endfor %}

{% endblock %}



