{% extends 'recipes/base.html' %}
{% block title %}Recipe Detail{% endblock %}

{% block body %}
<script>

    $(document).on('click', '#like', function(event){
              event.preventDefault();
              var pk = $(this).attr('value');
              $.ajax({
                type: 'POST',
                url: "{% url 'recipes:like' %}",
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                  $('#like-template').html(response['form'])
                  console.log($('#like-template').html(response['form']));
                },
                error: function(rs, e){
                  console.log(rs.responseText);
                },
              });
            });
  
  </script>

<div class="col-sm-5 col-md-6">
    
    <h2> {{recipe.name}} 
        {% if recipe.user == user %}
            <a href="{% url 'recipes:update' recipe.id %}" class="btn btn-outline-dark">Edit</a> 
        {% endif %}
    </h2>
    <h6>
        <i class="em em-female-cook" aria-role="presentation" aria-label="female-cook"></i>
        {{recipe.user}}&nbsp;
        <i class="em em-muscle" aria-role="presentation" aria-label="muscle"></i>
        {{recipe.difficulty}}&nbsp;&nbsp;
        <i class="em em-clock1" aria-role="presentation" aria-label="clock1"></i>
        {{ recipe.date_created|date:"F/d/Y" }}
    </h6>
    <div class="col-md-5" style="padding-left: 0"> <img src="{{ recipe.image.url }}" class="card-img-top"></div>
    
    <div id="like-template">
        {% include 'recipes/like_template.html' %}
    </div>
    <h4> Ingredients </h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ingredient.name}}</li>
        {% endfor%}
    </ul>
    <h4> Description </h4>
    <p>
        {{recipe.description}}
    </p>
</div>

{% endblock %}
